.over-view-container {
  width: 95%;
  margin: 70px auto;
}
.over-view-navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.message-date {
  width: 30%;
}
.message-date h4 {
  font-size: 20px;
}
.message-date p {
  margin-top: 10px;
  color: gray;
}
.overview-search-bar {
  width: 33%;
  position: relative;
}

.overview-search-bar input {
  padding: 12px 55px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
}
.search-icon {
  position: absolute;
  top: 0px;
  right: 25px;
  font-size: 50px; /* controls icon size */
  padding: 13px 10px;
  background-color: #d8f275;
  border-radius: 5px;
  border: solid 1px black;
  border-left:none ;
}

.notify-profile {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.bell-icon {
  font-size: 20px;
}
.notify-profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .message-date {
    width: 100%;
    text-align: center;
  }
  .over-view-container {
    margin: 32px auto;
  }
  .overview-search-bar {
    margin-top: 20px;
    margin-left: 10px;
    width: 100%;
  }
  .search-icon {
    right: 0px;
  }
  .notify-profile {
    width: 100%;
    margin-top: 22px;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .search-icon {
    right: -76px;
  }
}

.total-cour-trainee-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.total-trainee {
  background-color: rgb(254, 243, 198);
  width: 30%;
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
}
.group-icon {
  background-color: rgb(237, 255, 249);
  border-radius: 50%;
  padding: 2px;
}

.t-course {
  background-color: rgb(174, 218, 182);
}
.up-course {
  background-color: rgb(229, 85, 198);
}
.active-trainer-container {
  display: flex;
  width: 43%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.active-trainer-container p {
  cursor: pointer;
  color: blue;
}
